/* Guardar variables */
:root {
    --primary-red: #E20917;
    --black-style: #141414;
    --primary-yellow: #F4B401;
    --white-style: #FDFDFB;
    --primary-orange: #FD7E00;

    --primary-border-radius:1.7rem;

}
/* Cines */

body{
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(42,42,50,1) 78%);
}

:root {
    --white-style: #FDFDFB;
}

.cine{
    position: relative;
    border-radius: var(--primary-border-radius);
    transition: all 0.4s;
    color: var(--white-style)

}
.title-primary{
    color: var(--white-style);
    font-size: 50px;
    font-weight: 700;
    padding-left: 20px; 
}

.cine:hover .cine-buttons{
    opacity: 1;
    transform: scale(1.09); /* Crecer*/
    z-index: 1;

}
.container-cine{
    width: 80%; 
    max-width: 1368px;
    margin: 0 auto 40px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, #FF1D24, #E4131A, #8A1216);
    color: var(--white-style);
    top: 461px;
    left: 308px;
}

.container-cine img {
    max-width: 100%; 
    height: auto;
    float: right;
    border-radius: 30px;
}

.container-cine .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
   
}

.container-cine .direccion-cine {
    flex: 0 0 50%; /* Divide la fila en dos columnas */
    max-width: 50%; /* Asegura que cada columna tome la mitad del ancho */
    padding: 40px; /* Ajusta el espaciado entre las columnas */
    box-sizing: border-box; /* Incluye el padding en el ancho de la columna */
    align-items: center;
   
}

.container-button-cine {

    display: inline-block; 
    padding: 5px 10px; /* Espaciado interno del botón */
    background-color: var(--primary-yellow); 
    color: var(--white-style); /* Color del texto */
    text-decoration: none; 
    border-radius: 10px; 
    border: none; /* Quitar borde */
    cursor: pointer; 
}

.container-button-cine:hover {
    /* Estilos cuando se pasa el cursor sobre el botón */
    background-color: var(--black-style); /* Cambiar color de fondo al pasar el cursor */
}


/* END cines */

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container img {
    width: 80px;
    height: 60px;
}

.navbar {
    flex-grow: 1;
    text-align: center;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: var(--black-style);
    font-size: 18px;
}

.nav-link:hover {
    color: #FF1D24; /* Ajusta el color del hover según sea necesario */
}

.search-login-container {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.search-container img {
    margin-right: 10px;
}

.search-container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container img {
    width: 30px;
    height: 30px;
}
 /* Ends header*/