/* Guardar variables */
:root {
    --primary-red: #E20917;
    --black-style: #141414;
    --primary-yellow: #F4B401;
    --white-style: #FDFDFB;
    --primary-orange: #FD7E00;

    --primary-border-radius:1.7rem;

}
/* Cines */

body{
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(42,42,50,1) 78%);
}

:root {
    --white-style: #FDFDFB;
}


.cine-title {
    font-size: 32px;
    font-weight: bold;
    color: var(--white-style);
}

.cine:hover .cine-buttons{
    opacity: 1;
    transform: scale(1.09); /* Crecer*/
    z-index: 1;

}
.container-cine{
    width: 80%; 
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom, #FF1D24, #E4131A, #8A1216);
    color: var(--white-style);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
}

.container-cine img {
    max-width: 50%;
    height: auto;
    border-radius: var(--primary-border-radius);
}

.container-cine .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
   
}

.container-cine .direccion-cine {
    flex: 0 0 50%; /* Divide la fila en dos columnas */
    max-width: 50%; /* Asegura que cada columna tome la mitad del ancho */
    padding: 40px; /* Ajusta el espaciado entre las columnas */
    box-sizing: border-box; /* Incluye el padding en el ancho de la columna */
    align-items: center;
    font-size: 16px;
   
}

.container-button-cine {

    display: inline-block; 
    padding: 5px 10px; /* Espaciado interno del botón */
    background-color: var(--primary-yellow); 
    color: var(--white-style); /* Color del texto */
    text-decoration: none; 
    border-radius: 10px; 
    border: none; /* Quitar borde */
    cursor: pointer; 
}

.container-button-cine:hover {
    /* Estilos cuando se pasa el cursor sobre el botón */
    background-color: var(--black-style); /* Cambiar color de fondo al pasar el cursor */
}
/* END cines */

/*paginas*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}


.pagination button {
    background-color: var(--primary-red);
    color: var(--white-style);
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button:hover {
    background-color: var(--primary-orange);
}

.pagination .page-number {
    font-size: 24px;
    font-weight: bold;
}

.pagination .prev-page,
.pagination .next-page {
    background-color: transparent; /* Cambia a transparente */
    color: var(--primary-red); /* Color de las flechas */
    border: none; /* Sin borde */
}

.pagination .prev-page:hover,
.pagination .next-page:hover {
    background-color: var(--primary-orange);
    color: var(--white-style); /* Color de las flechas en hover */
}
