/* Guardar fuente */
@font-face {
    font-family: 'Baloo';
    src: url(../fonts/Baloo2-Regular.ttf);
}
@font-face {
    font-family: 'BalooExtra';
    src: url(../fonts/Baloo2-ExtraBold.ttf);
}

/* Guardar variables */
:root {
    --primary-red: #E20917;
    --black-style: #141414;
    --primary-yellow: #F4B401;
    --white-style: #FDFDFB;
    --primary-orange: #FD7E00;

    --primary-border-radius:1.7rem;

}

/* Quitar padding y margin, autoajuste de cajas */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
}








body{
    background: rgb(9,9,9);
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(42,42,50,1) 78%);
}


.main-container{
    height: auto; 
    padding: 80px 100px;  
}


/* Modificando los botones del carrusel */
.carousel-indicators button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 50px !important;
    width: 50px !important;
}



/* Estilos generales acoplados */

.movies, .releases {
    margin-bottom: 100px;
}
.sub-title{
    margin-bottom: 40px;
}

@media (max-width: 991.98px) {
    .movies {
        margin-bottom: 50px;
    }
    .main-container {
        padding: 5rem 2rem 2rem;
    }
    
}


