





body{
    background: rgb(9,9,9);
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(42,42,50,1) 78%);
}


.main-container{
    height: auto; 
    padding: 80px 100px;  
}


/* Modificando los botones del carrusel */
.carousel-indicators button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 50px !important;
    width: 50px !important;
}

/* Cambios para desarrollo*/

.carousel-inner img {
    height: calc(100vw * 0.38);
    object-fit: cover;
    
}

.caption-div {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
    color: white;
    padding: 2rem 17%;
    height: 40%;
    width: 100%;
    text-align: left;
}

.caption-div > h2 {
    position: absolute;
    top: -6rem;
    font-size: 40px;
    font-weight: bold;
}

.caption-div > .badge {
    position: absolute;
    top: -12rem;
}

.caption-div > p {
    display: inline-block;
    width: 35%;
    font-size: 18px;
}

.caption-div > a {
    position: absolute;
    bottom: 20%;
    width: 14rem;
    height: 5rem;
    border-radius: 30px;
}

.caption-div > a > span {
    font-size: 20px;
}

/* Estilos generales acoplados */

.movies, .releases {
    margin-bottom: 100px;
}
.sub-title{
    margin-bottom: 40px;
}

@media (max-width: 991.98px) {
    .movies {
        margin-bottom: 50px;
    }
    .main-container {
        padding: 5rem 2rem 2rem;
    }
    .carousel-item img {
        height: calc(100vw * 0.60); /* Mantiene la proporción 4:3 en dispositivos móviles */
    }
    
}


/* Cambios para desarrollo*/

