
/* Modificando los botones del carrusel */
.carousel-indicators button{
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 50px !important;
    width: 50px !important;
}


.main-container{
    height: auto; 
    padding: 80px 100px;  
    background: rgb(9,9,9);
    background: linear-gradient(0deg, rgba(9,9,9,1) 0%, rgba(42,42,50,1) 78%);
}

.movies, .releases {
    margin-bottom: 100px;
}
.sub-title{
    margin-bottom: 40px;
}

/* Estilos para celulares (ancho máximo de 480px) */
@media (max-width: 480px) {
    .main-container{
        padding: 20px 10px;  
    }
}
