/* Colores */

body {
    font-family: Roboto, sans-serif;
    color: #777777;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Cabecera */

header {
    background-color: #007bff;
    padding: 20px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

header img {
    width: 150px;
    height: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* Cuerpo */

main {
    padding: 20px;
}

.login {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h1 {
    color: #007bff;
    text-align: center;
}

.login form {
    margin-top: 20px;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 10px;
}