@font-face {
    font-family: 'Baloo';
    src: url(../fonts/Baloo2-Regular.ttf);
}

:root {
    --primary-red: #E20917;
    --black-style: #141414;
    --primary-yellow: #F4B401;
    --white-style: #FDFDFB;
    --primary-orange: #FD7E00;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}



main {
    background-color: var(--primary-orange);
    height: 1000px;

}


footer {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: var(--black-style);
    color: var(--white-style);
    font-family: 'Baloo', Helvetica, sans-serif;
    padding: 50px 0 50px 60px;
}

footer > div {
    width: 25%;

}

footer ul {
    list-style: none;
}

footer a {
    font-weight: 200;
    font-size: 14px;
    color: var(--white-style);
    height: 35px;

}

.redes-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.redes-container > img {
    width: 80px;
}

.redes-container div {
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-libro {
    margin-top: 10px;
    width: 150px;
}